<p>
  <b>Name:</b>
  <%= @student.name %>
</p>
<p>
  <b>Roll:</b>
  <%= @student.roll%>
</p>
<p>
  <b>Address:</b>
  <%= @student.address%>
</p>
<p>
  <b>Phone:</b>
  <%= @student.phone%>
</p>
<%= link_to 'Go Back', students_path %>

