<div id="attendance_container">
  <h1>Attendance Records</h1>
  <table class="list_table">
    <tr>
      <th>Student Name</th>
      <th>Student Roll</th>
      <th>Attendance Status</th>
    </tr>
    <% @attendances.each do |attendance| %>
    <tr>
      <td><%= attendance.student_name %></td>
      <td><%= attendance.student_roll %></td>
      <td><%= attendance.present %></td>
      <td><%= link_to 'Show', attendance %></td>
      <td><%= link_to 'Edit', edit_attendance_path(attendance) %></td>
      <td><%= link_to 'Delete', attendance, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
    <% end %>
  </table>
  <%= link_to 'Add Attendance', new_attendance_path %>
</div>
