<p>
  <b>Name:</b>
  <%= @attendance.student_name %>
</p>
<p>
  <b>Roll:</b>
  <%= @attendance.student_roll%>
</p>
<p>
  <b>Student's Presence:</b>
  <%= @attendance.present%>
</p>
<p>
  <b>Year:</b>
  <%= @attendance.year%>
  <b>Month:</b>
  <%= @attendance.month%>
  <b>Day:</b>
  <%= @attendance.day%>
</p>
<%= link_to 'Go Back', attendances_path %>
