<p>
  <b>Name:</b>
  <%= @attendance.student_name %>
</p>
<p>
  <b>Roll:</b>
  <%= @attendance.student_roll%>
</p>
<p>
  <b>Status:</b>
  <%= @attendance.present%>
</p>
<p>
  <b>Year:</b>
  <%= @attendance.year%>
</p>
<%= link_to 'Go Back', attendances_path %>